secrets/*
!secrets/autheliaJwtSecret.placeholder
!secrets/autheliaSessionSecret.placeholder
!secrets/cloudflareApiKey.placeholder
!secrets/cloudflareApiToken.placeholder
!secrets/cloudflareEmail.placeholder
!secrets/eMail.placeholder
!secrets/htpasswd.placeholder
!secrets/traefikPilotToken.placeholder
.env

data/*
!data/folder.placeholder
logs/*
!logs/folder.placeholder

# Ignore enabled stacks config
stacks/enabled/*
!stacks/enabled/.env.sample

# Ignore certs directory since it's automatically kept up to date by extracting certs from traefik
config/certs/*

# Ignore Traefiks acme.json
config/traefik/acme.json

# Ignore Authelia configs
config/authelia/configuration.yml
config/authelia/users_database.yml
config/authelia/db.sqlite3
config/authelia/notifications.txt

# Ignore docker-compose because we generate it
docker-compose.yml

# Ignore the middleware config
config/traefik/rules/middlewares.yml

# Ignore data configs
config/plexms/*
config/sonarr/*
config/radarr/*
config/trackarr/*
config/tautulli/*
config/jackett/*

